/*-----INICIA NAVBAR-----*/
.navbar{
    background-color: #b7958e;
    padding: 1.875rem;
}

.logo{
    width: 3.125rem;
    height: 3.125rem;
    margin: 0;
    padding: 0;   
}

.navbar-toggler{
    color: black;
    box-shadow: 0 0 5px black;
}
.navbar-toggler-icon{
    color: black;
}

.nav-link{
    color: black;
    font-size: medium;

}
.nav-link:hover{
    color: black;
    transform: scale(1.1);
    transition: all 0.5s ease;
    text-decoration: underline;
}
/*-----FIN NAVBAR-----*/

/*------BANNER------*/

.banner{
    background-image: url(../media/background-principal.jpg);
    background-size: cover;
    background-position: center;
    height: 38rem;
    color: black;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}
/*-----FIN BANNER-----*/

/*=======INDEX=======*/

/*------RECOMENDACIONES-----*/

.title-recom{
    display: flex;
    color: black;
    background-color: #b7958e;
    height: 6.25rem;
    text-align: center;
    justify-content: center;
    align-items: center;
}

h3{
    text-decoration:underline;  
}

.container-fluid{
    background-color: #b7958e;
}

.col-lg-4{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;

}
 /*========FIN INDEX=======*/


/*=======NOSOTROS========*/

.history{
    padding: 1.875rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.item{
    height: 18.75rem;
    border: black solid;
}

.item1{
    background-image: url(../media/quienes-somos-1.jpg);
    background-position: center;
    background-size: cover;
}

.item2{
    background-image: url(../media/quienes-somos-2.jpg);
    background-position: center;
    background-size: cover;
}

.item3{
    background-image: url(../media/quienes-somos-3.jpg);
    background-position: center;
    background-size: cover;
}

.item4{
    background-image: url(../media/quienes-somos-4.jpg);
    background-position: center;
    background-size: cover;
}

.item5{
    background-image: url(../media/quienes-somos-5.jpg);
    background-position: center;
    background-size: cover;
}

.item6{
    background-image: url(../media/quienes-somos-6.jpg);
    background-position: center;
    background-size: cover;
}

/*=======FIN NOSOTROS======*/

/*======NUESTRA CARTA=======*/

.title-menu{
    display: flex;
    text-decoration: underline;
    text-align: center;
    justify-content: center;
    align-items: center;

}

.menu{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

/*====FIN NUESTRA CARTA=====*/

/*========CONTACTOS=======*/

/*======FIN CONTACTOS======*/

/*=====RESERVAS======*/

.reservas-ct{
    padding: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/*========FIN RESERVAS======*/


/*------FOOTER------*/
.footer{
    background-color: #b7958e;
    display: flex;
    padding: 20px;
}

.icon-social{
    color: blueviolet;
    transform: scale(1.1);
    transition: all 0.5s ease;
}